<% if (locals.error && error.length > 0) { %>
<div class="alert alert-danger" role="alert"><%= error %></div>

<% } %> <% if (locals.msg && msg.length > 0) { %>
<div class="alert alert-success" role="alert"><%= msg %></div>
<% } %>
